.avatar{
    /* remover tamanho da borda comprimindo a imagem, mas também funciona com os cálculos box-sizing: initial; */    
    /* 12px = 4px de cada borda e 2px de cada outline*/
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.avatarWithBorder{
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
    background-color: var(--gray-800);
}